#addTaskForm {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

#addTaskForm.open {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  transition: all 1s ease;
  display: none;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  border-radius: 20px;
  max-width: 588px;
  width: 100%;
}

.popup__wrapper {
  padding: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}